In [1]:
import numpy as np 
import pandas as pd
import os
import sys
import lightgbm as lgb
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

In [2]:
BASE_DIR = "../../../data/pc_game"

In [3]:
df_train = pd.read_csv(BASE_DIR + '/train.csv')
df_test = pd.read_csv(BASE_DIR + '/test.csv')
df_sub = pd.read_csv(BASE_DIR + '/sample_submit.csv',header=None)

In [4]:
df_train

,gameId,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueTotalGold,blueTotalExperience,blueWins
0,0,0,5,8,6,0,0,14536,17256,0
1,1,1,10,1,5,0,0,14536,17863,0
2,2,0,3,10,2,0,0,17409,17256,0
3,3,1,7,10,8,0,0,19558,18201,0
4,4,0,4,9,4,0,0,17409,17256,0
...,...,...,...,...,...,...,...,...,...,...
7995,9993,1,9,6,14,0,0,18513,18201,1
7996,9994,0,3,10,4,0,0,17381,19797,0
7997,9995,1,9,3,9,2,1,18274,18491,1
7998,9997,0,5,10,6,1,1,18274,18491,1
7999,9998,0,6,4,5,0,0,17409,17256,0

In [5]:
df_test

,gameId,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueTotalGold,blueTotalExperience
0,9,0,7,6,6,0,0,16961,18201
1,15,0,6,6,6,2,1,18513,18021
2,18,1,6,4,3,0,0,13475,17256
3,23,0,5,4,7,0,0,17409,17256
4,31,0,10,8,9,0,0,18117,18472
...,...,...,...,...,...,...,...,...,...
1995,9971,0,6,3,7,0,0,17409,17256
1996,9980,0,4,4,4,0,0,17409,17256
1997,9983,1,6,3,3,1,1,18513,18201
1998,9996,1,10,9,9,1,1,18513,18201
1999,9999,0,7,11,8,0,0,18117,18201

In [6]:
df_sub

         0  1
0        9  0
1       15  0
2       18  0
3       23  0
4       31  0
...    ... ..
1995  9971  0
1996  9980  0
1997  9983  0
1998  9996  0
1999  9999  0

[2000 rows x 2 columns]

In [7]:
col_li = df_train.columns.tolist()
df_train['blueWins'].value_counts()

0    4066
1    3934
Name: blueWins, dtype: int64

In [ ]:
df_train.dtypes

In [8]:
df_train.corr()

,gameId,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueTotalGold,blueTotalExperience,blueWins
gameId,1.000000,-0.001356,0.015867,0.011907,0.013440,0.001194,0.001223,0.012690,-0.000432,-0.014944
blueFirstBlood,-0.001356,1.000000,0.283559,-0.325833,0.241781,0.213862,0.155051,-0.111157,0.033651,0.226536
blueKills,0.015867,0.283559,1.000000,-0.079929,0.710046,0.246184,0.196728,0.099387,0.309264,0.337541
blueDeaths,0.011907,-0.325833,-0.079929,1.000000,-0.060368,-0.223138,-0.180798,0.060901,-0.051879,-0.237224
blueAssists,0.013440,0.241781,0.710046,-0.060368,1.000000,0.213466,0.176668,0.108863,0.301567,0.311647
blueEliteMonsters,0.001194,0.213862,0.246184,-0.223138,0.213466,1.000000,0.787022,0.149436,0.295139,0.272810
blueDragons,0.001223,0.155051,0.196728,-0.180798,0.176668,0.787022,1.000000,0.185465,0.295516,0.251957
blueTotalGold,0.012690,-0.111157,0.099387,0.060901,0.108863,0.149436,0.185465,1.000000,0.162229,0.040489
blueTotalExperience,-0.000432,0.033651,0.309264,-0.051879,0.301567,0.295139,0.295516,0.162229,1.000000,0.328167
blueWins,-0.014944,0.226536,0.337541,-0.237224,0.311647,0.272810,0.251957,0.040489,0.328167,1.000000

In [10]:
X = df_train.drop(columns=['gameId','blueTotalGold','blueWins'])
y = df_train['blueWins']

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [ ]:
parameters = {'max_depth':[2,3], 'n_estimators':[500,1000,2000]}
clf = RandomForestClassifier(max_depth=2, random_state=42)
cv = GridSearchCV(clf, parameters)
cv.fit(X_train, y_train)
clf = cv.best_estimator_
clf.score(X_test,y_test)

In [ ]:
clf.score(X_train,y_train)

In [14]:
cv.best_params_

{'max_depth': 3, 'n_estimators': 1000}

In [15]:
clf.feature_importances_

array([0.03515566, 0.15226024, 0.05219554, 0.09608874, 0.10124159,
       0.04057057, 0.52248766])

In [16]:
pre = clf.predict(df_test)

ValueError: Number of features of the model must match the input. Model n_features is 7 and input n_features is 9

In [ ]:
df_sub[1] = pre

In [ ]:
df_sub.to_csv(BASE_DIR+'/subbmission.csv',header=None)

In [2]:
import IPython
print(IPython.sys_info())

{'commit_hash': '223e783c4',
 'commit_source': 'installation',
 'default_encoding': 'cp932',
 'ipython_path': 'C:\\Users\\tsuchiya\\miniconda3\\envs\\env_pytorch\\Lib\\site-packages\\IPython',
 'ipython_version': '7.19.0',
 'os_name': 'nt',
 'platform': 'Windows-10-10.0.19041-SP0',
 'sys_executable': 'C:\\Users\\tsuchiya\\miniconda3\\envs\\env_pytorch\\python.exe',
 'sys_platform': 'win32',
 'sys_version': '3.8.5 (default, Sep  3 2020, 21:29:08) [MSC v.1916 64 bit '
                '(AMD64)]'}

In [3]:
df_train

NameError: name 'df_train' is not defined